// Color Variables
$primary-color:  #00963F; // #3C8136; #397E3B;
$secondary-color: #182b45; // #1a1a37;
$third-color: #7FBA27;
$text-color: #5c5c77;
$text-color-light: #8585a4;
$text-color-dark: #1e1e4b;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Poppins';
$icon-font: 'themify';


:root[data-theme="theme-normal"] {
    --primary-color: #0072a3;
    --text-color: #333333;
    --bg-color: #fafafa;
    --component-bg-color: #ffffff;
}

:root[data-theme="theme-accessible"] {
    --primary-color: #49afd9;
    --text-color: #e3f5fc;
    --bg-color: #1b2a32;
    --component-bg-color: #22343c;
}


@mixin make-accessible($default-value, $accessible-value, $css-property: color, $css-selector: &) {
  @if ($css-selector == null) {
    @warn "No parent css element found";
  }
#{$css-property}: $accessible-value;
@at-root {
    :global(.accessible-theme) {
      #{$css-selector} {
        #{$css-property}: $accessible-value;
      }
    }
  }
}