<div class="card border-0 rounded-0 hover-shadow mb-lg-5">
    <div class="card-img">
        <img class="card-img-top rounded-0" src="{{ .Params.Image | relURL }}" alt="{{ .Params.Image_alt }}">
        <div class="card-date"><span>{{ .Date.Format "02" }}</span><br>{{ index $.Site.Data.miesiące (printf "%d" .Date.Month) }}<br>{{ .Date.Format "2006" }}
        </div>
    </div>

    <div class="card-body">
        <p><i class="ti-bookmark text-primary mr-2"></i>{{ .Params.Category | markdownify }}</p>
        <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        <p class="mb-0">{{ .Summary | truncate 100 }}</p>
    </div>
</div>