
/* Default Theme */
	/* General style */
		.jsCalendar * {
			margin: 0;
			padding: 0;
		}
		.jsCalendar table,
		.jsCalendar table th,
		.jsCalendar table td {
			border: 0;
			box-sizing: content-box;
			display: block;
			margin: auto;

		}
	/* Blue default */
		.jsCalendar table {
			color: #000000;
			margin: auto;
			display: block;
		}
		.jsCalendar tr {
			line-height: 0;
		}
		.jsCalendar thead .jsCalendar-title {
			height: 40px;
			line-height: 40px;
		}
		.jsCalendar thead .jsCalendar-title-left {
			float: left;
		}
		.jsCalendar thead .jsCalendar-title-right {
			float: right;
		}
		.jsCalendar thead .jsCalendar-nav-left,
		.jsCalendar thead .jsCalendar-nav-right {
			border-radius: 10px;
			color: $third-color;
			font-size: 12px;
			font-weight: bold;
			height: 20px;
			line-height: 20px;
			margin: 10px 8px;
			text-align: center;
			transition: color 0.2s, background-color 0.2s;
			width: 20px;
		}



		.jsCalendar thead .jsCalendar-nav-left:hover,
		.jsCalendar thead .jsCalendar-nav-right:hover {
			background-color: #E2E2E2;
			color: #000000;
		}
		.jsCalendar thead .jsCalendar-nav-left {
			float: left;
		}
		.jsCalendar thead .jsCalendar-nav-right {
			float: right;
		}
		.jsCalendar thead .jsCalendar-title-name {
			cursor: default;
			float: left;
			font-size: 18px;
			font-weight: lighter;
			padding: 0 20px;
		}
		.jsCalendar thead .jsCalendar-nav-left:after {
			content: "<";
		}
		.jsCalendar thead .jsCalendar-nav-right:after {
			content: ">";
		}
		.jsCalendar thead .jsCalendar-week-days th {
			text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
		}
		.jsCalendar thead .jsCalendar-week-days th,
		.jsCalendar tbody td {
			border-radius: 18px;
			cursor: default;
			display: inline-block;
			font-size: 20px;
			font-weight: lighter;
			height: 36px;
			line-height: 36px;
			margin: 4px 8px;
			padding: 2px 2px;
			text-align: center;
			transition: color 0.1s, background-color 0.2s;
			width: 36px;
		}
        @media (max-width:500px) {
            .jsCalendar thead .jsCalendar-week-days th,
		    .jsCalendar tbody td {
			    font-size: 15px;
			    width: 28px
			}

        }
		.jsCalendar tbody td.jsCalendar-selected {
			background-color: #FFFFFF;
			border: 2px solid #E6E6E6;
			height: 32px;
			line-height: 32px;
			width: 32px;
		}
		.jsCalendar tbody td.jsCalendar-current {
			border: 1px solid $secondary-color;
			border-radius: 0px;
		}
		.jsCalendar tbody td.jsCalendar-previous,
		.jsCalendar tbody td.jsCalendar-next {
			color: #CACACA;
		}
		.jsCalendar tbody td.jsCalendar-previous:hover,
		.jsCalendar tbody td.jsCalendar-next:hover {
			color: #FFFFFF;
		}

		.jsCalendar thead {
			display: block;
			margin: 4px 4px 0 4px;
		}
		.jsCalendar tbody {
			display: block;
			margin: 0 4px 4px 4px;
		    @include mobile-xs {
		        margin: 0 0 0 0;
		    }
		}
		.jsCalendar ::-moz-selection {
			background: #83D8FF;
		}
		.jsCalendar ::selection {
			background: #83D8FF;
		}

/* Material Theme */
	/* Blue default */
		.jsCalendar.material-theme table {
			border-radius: 0;
			width: fit-content;
		}
		.jsCalendar.material-theme thead {
			background-color: $secondary-color;
			color: #FFFFFF;
			margin: 0;
			padding: 4px 4px 0 4px;

		@include mobile-xs {
		  padding: 0 0 0 0;
		}

		}
		.jsCalendar.material-theme thead .jsCalendar-title {
			display: block;
			position: relative;
		}
		.jsCalendar.material-theme thead .jsCalendar-title-name {
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
			color: #FFFFFF;
			font-size: 16px;
			left: 15px;
			position: absolute;
			right: 15px;
			text-align: center;
		}
		.jsCalendar.material-theme thead .jsCalendar-title-left,
		.jsCalendar.material-theme thead .jsCalendar-title-right {
			position: absolute;
			z-index: 1;
		}
		.jsCalendar.material-theme thead .jsCalendar-nav-left,
		.jsCalendar.material-theme thead .jsCalendar-nav-right {
			color: #FFFFFF;
		}

		.jsCalendar.material-theme thead .jsCalendar-title-right {
			right: 0;
		}
		.jsCalendar.material-theme thead .jsCalendar-week-days th {
			font-size: 14px;
			text-shadow: none;
		}
	/* Green */
		.jsCalendar.material-theme.green thead {
			background-color: #7FB800;
		}
		.jsCalendar.material-theme.green thead .jsCalendar-nav-left:hover,
		.jsCalendar.material-theme.green thead .jsCalendar-nav-right:hover {
			background-color: #639000;
		}



    /*
 * jsCalendar extension
 * EventMarks v0.0.1-beta
 *
 * Authors: MyMaloks, GramThanos
 */

.jsCalendar tbody td div.jsCalendar-eventmarks {
    position: relative;
    display: flex;
    bottom: 9px;
    margin: 0px;
    padding: 0px;
    height: 6px;
}
.jsCalendar tbody td div.jsCalendar-eventmarks .jsCalendar-eventmark {
    width: 8px;
    height: 8px;
    display: inline;
    margin: 0px 1px;
    border-radius: 2px;
}
.jsCalendar tbody td div.jsCalendar-eventmarks .jsCalendar-eventmark-more {
    font-size: 8px;
    position: relative;
    bottom: 16px;
    right: -2px;
}

.min-height {
    min-height: 350px;
}


.legend{

    padding: 20px 20px;
    font-size: 15px;
    justify-content: flex-end;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 4em;

    @include mobile {
        margin-left: 1em;
    }

}
.legend-elem {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.legend-marker {
    width: 14px;
    height: 14px;
    display: inline;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 2px;
}