{{ define "main" }}

<!-- aktualności -->
<section class="section">
    <div class="container">
        <div class="row">
            <h2 aria-label="Aktualności"></h2>
            <div class="col-12">
                <ul class="list-inline text-center filter-controls mb-5">
                    <li class="list-inline-item active"><button class="m-3 text-uppercase" data-filter="all" >{{ i18n "all" }}</button></li>
                    {{ $categories := slice }}
                    {{ range .Data.Pages }}
                    {{ $categories = $categories | append .Params.Category }}
                    {{ end }}
                    {{ range ( $categories | uniq ) }}
                    <li class="list-inline-item"><button class="m-3 text-uppercase" data-filter="{{ . | urlize }}">{{ . | humanize }}</button>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="row filtr-container m-auto">
            {{ range .Data.Pages }}
            <div data-category="{{ .Params.Category | urlize }}" class="col-lg-4 col-sm-6 filtr-item"
                 style="height: 500px !important;">
                {{ .Render "aktualnosci" }}
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /aktualności -->

{{ end }}