<div class="card w-100 cool-frame">
    <div class='card-title'>
        <h4 class="card-title d-md-table-cell">{{ .Title }}
            {{ if .Params.new_line }}
            <span style="color: transparent; line-height: 1.2">Komorze i Rakowo</span>
            {{ end }}</h4>
        <div class='d-md-table-cell'>
            <div class="p-1 text-white ml-sm-3"
                 style="background-image: url('{{ .Params.Tile_image | relURL}}'),url('{{`images/tiles/light.png`| relURL}}'); background-size: cover;">
                {{ $site := .Site.GetPage "/dokumenty-do-pobrania" }}
                {{ $resource := $site.Resources.GetMatch .Params.download }}
                <a href="{{ $resource.Permalink }}" target="_blank"
                   class="btn btn-secondary btn-sm  d-sm-block text-nowrap">Pobierz PDF</a>
            </div>
        </div>
    </div>
    <div class="click-only ">
        <h5 class="flip-title d-md-table-cell download">Szczegóły</h5>
    </div>
    <div class='card-flap flap1'>
        <div class='card-description'>
            <ul class='task-list'>
                <li>{{ .Content }}</li>
            </ul>
        </div>
        <div class="min-height ">
            <div id="{{ .Params.Id }}" class="auto-jsCalendar material-theme custom-white"
                 data-language="pl"
                 data-zero-fill="false"
                 data-month-format="month YYYY"
                 data-day-format="DDD"
                 data-first-day-of-the-week="2"
                 data-navigator="true"
                 data-min="{{$.Parent.Params.data_min}}"
                 data-max="{{$.Parent.Params.data_max}}">
            </div>
        </div>
        <div class="legend">
            {{ range .Params.calendar }}
            <div class="legend-elem"><span class="legend-marker" style="background-color: {{ .color }}"></span><span>{{ .name }}</span>
            </div>
            {{ end }}
        </div>

    </div>
</div>

<script type="text/javascript">

    window.addEventListener('load', function(){
        // We can get its instance using it's id
        var calendar = jsCalendar.get('#{{ .Params.Id }}');

        {{ range .Params.calendar }}
        {{ $color:= .color }}
            {{ range .dates }}
                var date = new Date( {{ . }} )
                calendar.addEventMarks(date, {{ $color }} )
            {{ end }}
        {{ end }}

    }, false);





</script>

