{{ define "main" }}
<!-- dokumenty do pobrania -->
<section class="section mb-5">
    <div class="container">
        <div class="row">
            <h2 aria-label="Dokumenty do pobrania"></h2>
            <div class="col-12">
                <ul class="list-inline text-center filter-controls mb-5">
                    <li class="list-inline-item active" data-filter="all"><button class=" m-3 text-uppercase ">{{ i18n "all" }}</button></li>
                    {{ $categories := slice }}
                    {{ $documents := .Resources }}
                    {{ range $documents }}
                    {{ if .Params.Category }}
                        {{ $categories = $categories | append .Params.Category }}
                    {{ end }}
                    {{ end }}
                    {{ range sort ( $categories | uniq ) }}
                    <li class="list-inline-item" data-filter="{{ . | urlize }}" value="index" ><button class=" m-3 text-uppercase">{{ . | humanize }}</button>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>

        <div class="row filtr-container m-auto">
            {{ $documents :=  .Resources.Match "*" }}
            {{ range sort $documents "Params.Order" }}
            <div data-category="{{ .Params.Category | urlize }}" data-sort="index"
                 class="m-auto py-3 border-bottom col-lg-10 filtr-item custom-height">
                <a href="{{ .Permalink }}" target="_blank" class="download">{{ .Title }}</a>
            </div>
            {{ end }}
        </div>

    </div>
</section>

<!-- /dokumenty do pobrania -->
{{ end }}

